body {
    padding: 0;
    margin: 0;
}


/* НАВИГАЦИЯ */


nav {
    margin: auto;
    height: 90px;
}
.logo-nav {
    margin-left: 244px;
    padding-top: 38px;
    display: inline-block;
}
.menu {
    float: right;
    margin: 0;
    margin-right: 245px;
    padding-top: 43px;
}
.menu::after {
    content: '.';
    clear: both;
}
.menu-item {
    display: inline-block;
    margin-left: 15px;
}
.menu-item a {
    text-decoration: none;
    font-family: "open sans";
    color: #0f0101;
    font-weight: 700;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.28px;
}
.menu-item a:hover {
    color: #1abc9c;
}


/* СЛАЙД */

.slide {
    background: url(../images/slide.png) 36% 100% no-repeat;
    height: 600px;
    width: 100%;
    position: relative;
}
.slide-opacity {
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.52 );
    position: absolute;
}
.slide-tex {
    width: 738px;
    margin: auto;
}
h1 {
    margin: auto;
    text-align: center;
    line-height: 92px;
    color: white;
    font-family: Roboto;
    font-size: 60px;
    letter-spacing: -1.2px;
    text-transform: uppercase;
    padding-top: 210px;
}
.commercial-tex {
    color: #ffffff;
    font-family: "Roboto Light";
    font-weight: 300;
    letter-spacing: -0.48px;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
    padding-left: 1.5%;
}

            /* КНОПКИ ПЕРЕЛИСТЫВАНИЯ СЛАЙДОВ */


.click {
    display: inline-block;
    width: 104px;
    height: 104px;
    background-color: rgba(78,198,171);
    opacity: 0.65; 
    color: #ffffff;
    line-height: 11px;
    font-weight: 400;
    font-size: 100px;
    text-transform: uppercase;
    border: 0;
    transform: translateY(-120%);
}
.pe-7s-angle-left:hover,
.pe-7s-angle-right:hover {
    background-color: #4ec6ab;
    opacity: 1;
}
.pe-7s-angle-right {
    margin-left: 55%;
}
.pe-7s-angle-left {
    margin-left: 15.5%;
}


/* КОНТЕНТ */


main {
    width: auto;
    text-align: center;
    background-color: #e9f0fd;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 676px;
    text-align: center;
}


/* ЗАГЛАВИЕ ПЕРЕД КАРТОЧКАМИ */


h2 {
    padding-top: 100px;
    margin: 0;
    text-align: center;
    color: #515151;
    font-family: "Roboto Black";
    font-size: 48px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.96px;
    background-color: #e9f0fd;
}
h2::after {
    content: '';
    display: block;
    margin: auto;
    width: 162px;
    border-bottom: 5px solid #1abc9c;
    margin-top: 30px;
}


/* КАРТОЧКИ */


.card {
    display: inline-block;
    margin: 15px;
    margin-top: 82px;
    position: relative;
    width: 255px;
    height: 322px;
}
.card:hover .card-opacity {
    opacity: 1;
}
.card-picture {
    position: absolute;
    transform: translateX(-50%);
}
.card-box {
    position: absolute;  
    height: 322px;
    width: 255px;
    z-index: 10;
}
.card-opacity {
    height: 262px;
    background-color: rgba(0,0,0,0.55);
    margin: 10px;
    opacity: 0;
}

     /* ХОВЕР МЕНЮ */



.card-function-box {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 170px;
    height: 107px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.6px;
}
.card-function-box span {
    line-height: 50px;
}
.top-icon span {
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
}
.cart-box {
    margin-top: 7px;
    border: 1px solid #ffffff;
    background-color: #323232;
    height: 50px;
}
.pe-7s-cart {
    width: 50px;
    height: 50px;
    margin-left: -20px;
}
.cart-text {
    margin-top: -12px;
    display: inline-block;
    height: 50px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
}
.pe-7s-like:hover, .pe-7s-shuffle:hover, 
.pe-7s-clock:hover, .cart-box:hover {
    border: 1px solid #1abc9c;
    background-color: #1abc9c;
}
 

/* ОПИСАНИЕ КАРТОЧКИ */


.card-name, .card-price {
    display: inline-block;
    margin: 0;
}


.card-name {
    width: 192px;
    height: 40px;
    background-color: #323232;
    font-size: 18px;
    font-family: roboto;
    line-height: 40px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 12px;
    margin-left: -4px;
    color: white;
}
.card-price {
    width: 52px;
    height: 40px;
    opacity: 0.44;
    background-color: #323232;
    font-size: 18px;
    font-family: roboto;
    line-height: 40px;
    margin-right: -4px;
    margin-left: -4px;
    color: white;
}
.card:hover p {
    background-color: #1abc9c;
}


  /* НИЗ САЙТА */

footer {
    height: 88px;
    background-color: #323232;
}
.logo-bot {
    margin: 0;
    text-align: center;
    line-height: 88px;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: -0.32px;
    color: #fefefe;
    text-transform: capitalize;
}
.logo-bot a {
    color: #fefefe;
    text-decoration: none;
}

.logo-bot:hover a {
    color: #46bfa9;
}