

body {
    margin: auto;
    padding: 0;
    /* width: 100hv; */
}


/* НАВИГАЦИЯ */


nav {
    width: 100%;
    height: 90px;
    padding: 0;
    margin: auto;
}
.box-logo {
    margin: 0;
    margin-left: 245px;
}
.logo-name {
    float: left;
    margin-top: 38px;
}
.logo-name img {
    width: 78px;
    height: 21px;
}
.menu {
    float: right;
    line-height: 11px;
    margin-top: 43px;
    margin-right: 245px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Open Sans";
    text-transform: uppercase; 
    padding: 0;
}
.menu-item {
    display: inline-block;    
    margin-right: 15px;
}
.menu-item:last-child {
    margin-right: 0;
}
.menu-link {
    text-decoration: none;
    color: #000000;
    font-family: "Open Sans";
}
.menu-link:hover {
    color: #1abc9c;
}

             /* СЛАЙД */


header {
    width: 100wv;
    height: auto;
}
.logo-fon {
    background: url(../images/slide.png) 36% 100% no-repeat;
    height: 600px;
}
.logo-opaciti {
    width: 100hv;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.52 );
}
.logo-copy {
    color: white;
}

         /* ТЕКСТ НА ФОНЕ */


.logo-caption {
    margin: auto;
    text-align: center;
    line-height: 63px;
    color: white;
    font-family: Roboto;
    font-size: 60px;
    letter-spacing: -1.2px;
    text-transform: uppercase;
    padding-top: 210px;
}
.logo-subtitle {
    color: #ffffff;
    font-family: "Roboto Light";
    font-weight: 300;
    letter-spacing: -0.48px;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
    padding-left: 27%;
}

            /* КНОПКИ ПЕРЕЛИСТЫВАНИЯ СЛАЙДОВ (представим что там есть куда листать) */


.click {
    display: inline-block;
    width: 104px;
    height: 104px;
    color: #ffffff;
    line-height: 11px;
    font-weight: 400;
    font-size: 100px;
    text-transform: uppercase;
    border: 0;
    transform: translateY(-120%);
}
.pe-7s-angle-left {
    margin-left: 15.5%;
}
.pe-7s-angle-left:hover {
    background-color: #1abc9c;
    opacity: 0.65;
}
.pe-7s-angle-right {
    margin-left: 55%;
}
.pe-7s-angle-right:hover {
    background-color: #1abc9c;
    opacity: 0.65;
}

            /* ЗАГЛАВИЕ ПЕРЕД КАРТОЧКАМИ */


.logo-middle {
    padding-top: 100px;
    margin: 0;
    text-align: center;
    color: #515151;
    font-family: "Roboto Black";
    font-size: 48px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.96px;
    background-color: #e9f0fd;
}
.logo-middle::after {
    content: '';
    display: block;
    margin: auto;
    width: 162px;
    border-bottom: 5px solid #1abc9c;
    margin-top: 30px;
}


      /* КОНТЕНТ */


main {
    width: auto;
    height: 430px;
    text-align: center;
    padding-top: 80px;
    background-color: #e9f0fd;
    margin-bottom: 0;
    padding-bottom: 0;
}
.card {
    display: inline-block;
    height: 322px;
    width: 255px;
    margin: 15px;
}   
.card-fon-first {
    background: url(..//images/category-1.png)
}
.card-fon-second {
    background: url(..//images/category-2.png);
}
.card-fon-third {
    background: url(..//images/category-3.png);
}
.card-fon-forth {
    background: url(..//images/category-4.png);
}

      /* ВСПЛЫВАЮЩИЕ ФУНКЦИИ */


.card-opacity {
    position: relative;
    width: 235px;
    height: 281px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.55);
    opacity: 0;
}
.card:hover .card-opacity {
    opacity: 1;
}
.card-function-box {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 170px;
    height: 107px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.6px;
}
.card-function-box span {
    line-height: 50px;
}
.top-icons span {
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
}
.cart-box {
    margin-top: 7px;
    border: 1px solid #ffffff;
    background-color: #323232;
    height: 50px;
}
.pe-7s-cart {
    width: 50px;
    height: 50px;
}
.cart-text {
    margin-top: -12px;
    display: inline-block;
    height: 50px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
}
.pe-7s-like:hover, .pe-7s-shuffle:hover, 
.pe-7s-clock:hover, .cart-box:hover {
    border: 1px solid #1abc9c;
    background-color: #1abc9c;
}

       /* ОПИСАНИЕ КАРТОЧКИ */


.card-name {
    display: inline-block;
    width: 192px;
    height: 40px;
    background-color: #323232;
    font-size: 18px;
    font-family: roboto;
    line-height: 40px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 12px;
    margin: 0;
    margin-left: -4px;
    color: white;
}
.card-price {
    display: inline-block;
    width: 52px;
    height: 40px;
    opacity: 0.44;
    background-color: #323232;
    font-size: 18px;
    font-family: roboto;
    line-height: 40px;
    margin: 0;
    margin-right: -4px;
    margin-left: -4px;
    color: white;
}
.card:hover p {
    background-color: #1abc9c;
}

        /* НИЗ САЙТА */


footer {
    height: 88px;
    background-color: #323232;
}
.logo-bot {
    margin: 0;
    text-align: center;
    line-height: 88px;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: -0.32px;
    color: #fefefe;
    text-transform: capitalize;
}
p span {
    color: #46bfa9;
}



    
   